* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.header {
    display: flex;
    justify-content: space-around;
    margin: 16px;
    margin-top: 24px;
   
}

.header-text{
    width: 50px;
    flex-grow: 20;
    font-weight: bolder;
    font-size: larger;
}

.header-link{
    text-align: right;
    flex-grow: 1;
   }

.container {
    margin: 16px;
    margin-top: 32px;
    /* margin-left: 32px; */
    display: flex;
    height: 500px;
    justify-content: space-between;
    align-items: center;
    
}


.contact {
    display: flex;
    background-color: lightgrey;
    border-radius: 15px;
    margin: 128px;
    height: 100px;
    justify-content: center;
    align-items: center;
    
}

