* {
    font-family: Helvetica, sans-serif;
    font-size: large;
    white-space: nowrap;
    margin: auto;
   
    
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.header {
    display: flex;
    /* justify-content: space-around; */
    /* margin: auto; */
    /* width: 100%; */
    /* white-space: nowrap; */
    /* background: #d2c0c7; */
    /* padding-left: 6px    ;
    padding-right: 6px; */
    padding: 10px;

}

.header-link-left{
 
    width: 50px;
    font-weight: bolder;
    font-size: larger;
    flex-grow: 20;
}

.header-link-right{
    justify-items: center;
    text-align: right;
    flex-grow: 1;
    align-self: center; 
}


.container {
    /* margin: 16px;
    margin-top: 32px; */
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    /* flex-wrap: wrap; */
    /* width: 100%; */
    padding-top: 10px;
    /* margin: auto; */

}

.container a:link {
    text-decoration: underline;
}

.container a:hover {
    background-color: #c0d2cc;
}


.container .text{
    padding-left: 10px;
    padding-right: 10px;
    flex: 1;
}

.container .image{
    overflow: hidden ;
    margin: 0;

}

/* .quote {
    font-family:'Times New Roman', Times, serif;
    font-style: italic; 
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 10px;
    background: #c0d2cc; 
    height: 100px;
    white-space: normal;
    text-align: center;
    border-radius: 5px;
    box-shadow: 3px 5px 5px lightgrey;
} */




