* {
    font-family: Helvetica, sans-serif;
    font-size: large;
    white-space: nowrap;
    margin: auto;
    background-color: rgb(226, 221, 213);
    
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.header {
    display: flex;
    /* justify-content: space-around; */
    /* margin: auto; */
    /* width: 100%; */
    /* white-space: nowrap; */
    /* background: #d2c0c7; */
    /* padding-left: 6px    ;
    padding-right: 6px; */
    padding: 10px;

}

.header-link-left{
 
    width: 50px;
    font-weight: bolder;
    font-size: larger;
    flex-grow: 20;
}

.header-link-right{
    justify-items: center;
    text-align: right;
    flex-grow: 1;
    align-self: center; 
}


.container {
    display: flex;
    justify-content: space-around;
    padding-top: 1in;
}

.container a:link {
    text-decoration: underline;
}

.container a:hover {
    background-color: #c0d2cc;
}


.container .text{
    justify-content: center;
    padding:1in;
    white-space: normal;
}

.image{
    /* overflow: hidden ; */
    padding-right: 1in;
    /* margin: 0; */

}

.image img {
    border-radius: .25in;
    box-shadow: 10px 10px 30px rgb(94, 89, 89);
}


/* .quote {
    font-family:'Times New Roman', Times, serif;
    font-style: italic; 
    display: flex;
    justify-content: center;
    align-items: center; 
    padding: 10px;
    background: #c0d2cc; 
    height: 100px;
    white-space: normal;
    text-align: center;
    border-radius: 5px;
    box-shadow: 3px 5px 5px lightgrey;
} */

.dropdown{
    position: relative;
    
}



.dropdownbutton{
    /* background-color: rgb(226, 221, 213); */
    border:none;
    
}

.dropdowncontent{
    display:none;
    position: absolute;
    min-width:max-content;
    /* padding:5px; */
    text-align: center;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    border:5px transparent;
    z-index: 1;
    /* margin-top: 5px; */
    /* transform:translate3d(0,15px,0); */


}

.dropdowncontent a{
    display:block;
    background: none;
    margin: 15px;
}

.dropdowncontent a:hover {
    color:blue;
}

.dropdown:hover .dropdowncontent{
    display: block;
   
}

.dropdown:hover .dropdownbutton {
    background-color: gray;
}
