* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    white-space: nowrap;
    margin: auto;
    background-color: rgb(226, 221, 213);    
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.header {
    display: flex;
    padding: 10px;

}

.header-link-left{
 
    width: 50px;
    font-weight: bolder;
    font-size: larger;
    flex-grow: 20;
}

.header-link-right{
    justify-items: center;
    text-align: right;
    flex-grow: 1;
    align-self: center; 
}


.contact {
    display: flex;
    background-color: lightgrey;
    border-radius: 15px;
    margin: 128px auto; 
    height: 100px;
    width:fit-content;
    padding-left: 20px;
    padding-right: 20px;
    justify-content: center; /*centers content on main axis*/
    align-items: center; /*centers content on cross axis*/
    align-self: center;
}
