* {
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    white-space: nowrap;
    margin: auto;
   
    
}


a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.header {
    display: flex;
    /* justify-content: space-around; */
    /* margin: auto; */
    /* width: 100%; */
    /* white-space: nowrap; */
    /* background: #d2c0c7; */
    /* padding-left: 6px    ;
    padding-right: 6px; */
    padding: 10px;

}

.header-link-left{
 
    width: 50px;
    font-weight: bolder;
    font-size: larger;
    flex-grow: 20;
}

.header-link-right{
    justify-items: center;
    text-align: right;
    flex-grow: 1;
    align-self: center; 
}

.aboutinfo {
    display:flex;
    padding-top: 1in;
    
}
.aboutText {
    /* display: flex;  */
    justify-content: center;
    padding:1in;
    white-space: normal;
}

.portrait{
    padding-right: 1in;
    
}

.portrait img{
    border-radius: .25in;
    box-shadow: 10px 10px 30px rgb(94, 89, 89);
}

